body{
    width:1200px;
}
#nav{
    height: 25px;
    width: 80%;
    background: #FFFFFF;
   margin-bottom: 2px;
   margin-left: 3px;
}
#portfolio{
    display: flex;
    background: #F5F5F5;
    margin-top: 10px;
}
#leftside{
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    background: #FFFFFF;
    height: 1000px;
    width: 270px;
    margin-top: 30px;
}
#rightside{
    flex-direction: column; 
}
#profile-photo{
    height: 260px ;
    width: 240px ;
    border-radius: 50%;
}
#profile{
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    top: 50px;
}
#contactid{
    display: flex;
    flex-direction: row;
}
#education{
    height: 200px;
    width: 800px;
    background:#FFFFFF ;
    padding: 10px;
    margin-top: 30px;
    margin-left: 40px;
}
#work-exp{
    margin-top: 40px;
    height: 400px;
    width: 800px;
    background:#FFFFFF ;
    padding: 10px;
    margin-left: 40px;
}
#Achievements{
    margin-top: 40px;
    height: 180px;
    width: 800px;
    background:#FFFFFF ;
    padding: 10px;
    margin-left: 40px;
    margin-bottom: 30px;
}